.charity-wrapper {
  background-color: #dddddd;
  background-image: url("/public/img/patterns/scanline.png");
  background-repeat: repeat;
  width: 100%;
  height: 100px;
  padding: 50px;
  display: flex;
}
