$ultra-blue: #006afe;
$nav-black: #2a2a2a;
$nav-font: #ffffff;
$nav-highlight: #3e3e3e;
$ultra-grey: #535554;

.imageSplash-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.imageSplash-image {
  height: auto;
  width: 100%;
}

.imageSplash-text {
}
