.list-item-container {
  background-color: #006afe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #eaeaea;
  background-image: url('/public/img/patterns/thick_scanlines.png');
  background-repeat: repeat;
  margin-top: 20px;
  display: flex;
}

.list-item-icon {
  flex: 3;
  padding: 5px;
  background-color: #bd2a2a;
}

.list-item-text {
  flex: 6;
  padding: 5px;
}
