$ultra-blue: #006afe;

.logo-banner {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  background: url('/public/img/ultra_banner.png');
  background-size: cover;
}

.logo-image {
  height: 100px;
}

.logo-sub-text {
  font-size: 11px;
  font-weight: bold;
  font-family: 'Open Sans';
  text-transform: uppercase;
  color: $ultra-blue;
}

.logo-link {
  text-decoration: none;
}
